html {
	font-family: 'Kite One', sans-serif;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


.chart {
    fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
